a{
    color: #fff;
    text-decoration: none;
}

i, em{
    font-style: inherit;
}

.clearfix:after{
    content:".";        
    display:block;        
    height:0;        
    clear:both;        
    visibility:hidden;        

}

.clearfix{
    zoom:1
}

.currMove{
    cursor: move !important;
}

.cp_container {
	width: 100%;
	margin: auto;
	min-width: 1300px;
	position: relative;
}

.cp_header{
    height:60px;
    background: #0e1d32;
    color:#fff;
}

.cp_hlog{
    padding-top: 15px;
}

.cp_hlog span{
    display: inline-block;
    padding-left: 30px;
    letter-spacing: 1px;
    font-weight: bold;
}

.cp_kanban{
    display: flex;
    margin-top: 30px;
}

.cp_kbfont{
    position: relative;
    width: 15%;
    padding: 0 1%;
    margin-bottom: 30px;
}

.cp_kbfont img{
    width: 100%;
}

.cp_kbzhi{
    position: absolute;
    top: 10%;
    right: 50px;
}

.cp_kbzhi span{
    display: block;
    cursor: pointer;
    padding-top: .5rem;
}

.cp_kbzhi img{
    width: 100%;
}

.cp_wenzi{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -85px;
    margin-top: -30px;
    width: 150px;
    height: 60px;
    text-align: center;
}

.cp_wenzi span{
    display: block;
    color: #93afd7;
    font-size: 28px;
    font-weight: bold;
}

.cp_wenzi em{
    display: block;
    color: #4b586b;
    font-size: 14px;
    font-weight: bold;
}

.cp_padding{
    padding-left: 1%;
}

.cp_headmaring{
    margin: 20px 0;
}

.cp_title{
    width: 400px;
    height:46px;
    float: left;
}

.cp_title img{
    width: 100%;
}

.cp_shezhi{
    margin-top: 5px;
    float: right;
    margin-right: 1%;
}

.cp_shezhi span{
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
}


.cp_contshe{
    float: right;
    margin-right: 20px;
}

.cp_contshe span{
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}

.cp_contshe img{
    width: 17px;
}

.cp_conter{
    padding: 20px 10px 40px;
}

.cp_login{
    margin-left: 10px;
}

.clear_both{
    clear: both;
}

.cp_newscont{
    margin: 20px 0;
}

.cp_bgcolor{
    background: #0e1d32;
}

.cp_tonts{
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 0.4s ease-in-out;
}

.cp_leftconsas{
    width: 25%;
}

.cp_rightconsas{
    width: 75%;
}

.cp_necontbg{
    background: #0e1d32;
    margin-bottom: 20px;
    color:#fff;
}

.cp_zhenType{
    width: 20%;
    float: left;
    margin-right: 1%;
}

.cp_ditu{
    width: 57%;
    float: left;
    margin-right: 1%;
    position: relative;
}

.cp_zclist{
    width: 20%;
    float: left;
    margin-right: 1%;
    min-height: 705px
}

.cp_zhengce{
    width: 30%;
    float: left;
    margin-right: 1%;
    height: 720px;
}

.cp_news{
    width: 30%;
    float: left;
    margin-right: 1%;
    height: 570px;
}

.cp_qushi{
    width: 30%;
    float: left;
    margin-right: 1%;
    height:720px;
}

.cp_jianghua{
    width: 37%;
    float: left;
    margin-right: 1%;
    height:720px;
}

.cp_dongtai{
    width: 68%;
    float: left;
    height: 570px;
    margin-right: 1%;
}

.cp_plossa{
    padding: 10px 20px;
}

.cp_conpadd{
    padding: 10px 0px;
}

.cp_newsList{
    margin-right: 20px;
    margin-bottom: 20px;
}

.cp_newsList li{
    width: calc(50% - 60px);
    float: left;
    margin-top: 20px;
    background: #1e324d;
    margin-left: 20px;
    padding: 10px 20px 20px;
}

.cp_newsList li i{
    display: block;
    color: #607089;
    font-size: 12px;
}

.cp_newsList li span{
    color:#93afd7;
    padding-top: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 14px;
}

.cp_titsize{
    margin-left: 20px;
    float: left;
}

.cp_contimgnews{
    margin: 10px 20px 20px;
}

.cp_dtaiimg{
    width: 250px;
    float: left;
}

.cp_dtaiimg img{
    width: 100%;
}

.cp_dtneirong{
    width: calc(100% - 280px);
    float: left;
    margin-left: 30px;
    margin-top: 10px;
}

.cp_dtneirong span{
    display: block;
    font-size: 14px;
    line-height: 25px;
}

.cp_dttitont{
    height: 25px;
    font-size: 14px;
}

.cp_dttitont i{
    position: relative;
    color: #feb801;
    display: inline-block;
    float: left;
}

.cp_dttitont u{
    position: absolute;
    border: 1px solid #feb801;
    height: 15px;
    top: 2px;
    right: -15px;
}

.cp_dttitont em{
    color: #93afd7;
    margin-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    padding-left: 30px;
}

.cp_dttitont em a{
    color: #93afd7;
}

.cp_dtconter{
    color: #4b586b;
    margin: 10px 0;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cp_dttimes{
    color: #4b586b;
    font-size: 12px !important;
}

.cp_dttimes i{
    margin-right: 50px;
}

.cp_contqushi{
    margin: 10px 20px 0px;
    font-size: 14px;
}

.cp_zqushen li{
    padding-bottom: 20px;
}

.cp_qushitit{
    padding-bottom: 5px;
}

.cp_htitle{
    color: #93afd7;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 14px;
}

.cp_htitle a{
    color: #93afd7;
    height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.cp_hconter{
    color: #4b586b;
    font-size: 14px;
    margin: 10px 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cp_husolid{
    border-bottom: 1px solid #1c2d49;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.cp_zcconter{
    position: relative;
    border-left: 1px solid #8ea6cc;
    padding-left: 20px;
}

.cp_zcneirong{
    padding: 10px 0 20px;
}

.cp_zcdian{
    position: absolute;
    left: -10px;
    top: -10px;
}

.fl_ztoptent{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #040b15;
    opacity: 0.6;
}

.fl_zconter{
    position: fixed;
    width: 1200px;
    height: 800px;
    top: 50%;
    left: 50%;
    margin-top: -400px;
    margin-left: -600px;
    background: #0e1d32;
    border-radius: 5px;
}

.fl_biaoti{
    color:#fff;
    height: 80px;
    line-height: 80px;
    font-size: 20px;
    padding: 0 30px;
}

.fl_biaoti span{
    float: right;
    cursor: pointer;
}

.fl_titlebg{
    background: #0f172a;
    color: #93afd7;
    padding: 0 30px;
}


.apply-record .tab{
    height:70px;
    line-height:70px;				
}
.apply-record .tab .tab-item{
    position: relative;
    list-style: none;
    display: inline-block;
    margin-right: 70px;
    font-size: 17px;
    letter-spacing: 1px;
    cursor: pointer;
}
.apply-record .tab .tab-item.active{
    color: #ffb701;
}		
.apply-record .tab .tab-item.active span{
    display: inline-block;
    border-bottom: 4px solid #ffb701;
    width: 30px;
    position: absolute;
    left: 50%;
    margin-left: -15px;
    bottom: 10px;
    border-radius: 50px;
}			
.products .mainCont { 
    display: none; 
    width:100%;
} 
.products .mainCont.selected {
     display: block; 
} 

.fl_lonts{
    background: #081023;
    height:570px;
}
.fl_lonts .fl_tab{
    float: left;	
    padding: 40px 0;
    color: #93afd7;	
    width: 260px;
    background: #0e1d32;
}
.fl_lonts .fl_tab .tab-item{
    position: relative;
    display: block;
    list-style: none;
    font-size: 15px;
    letter-spacing: 1px;
    height:70px;
    line-height: 70px;
    padding: 0 10px;
    cursor: pointer;
}
.fl_lonts .fl_tab .tab-item.active{
    color: #ffb701;
    background: #081023;
}		
.fl_lonts .fl_tab .tab-item.active span{
    display: inline-block;
    border-bottom: 4px solid #ffb701;
    width: 30px;
    position: absolute;
    left: 50%;
    margin-left: -15px;
    bottom: 10px;
    border-radius: 50px;
}		
.fl_productConter{
    float: left;
}	
.fl_productConter .fl_mainRight { 
    display: none; 
    width:100%;
} 
.fl_productConter .fl_mainRight.selected {
     display: block; 
} 

.sqingico_1 img{ 
    width: 876px;
    height: 356px;
    padding-top: 50px;
    padding-left: 30px;
}

.sqingico_2 img{ 
    width: 876px;
    height: 356px;
    padding-top: 50px;
    padding-left: 30px;
}

.sqingico_3 img{ 
    width: 876px;
    height: 356px;
    padding-top: 50px;
    padding-left: 30px;
}

.sqingico_4 img{ 
    width: 876px;
    height: 356px;
    padding-top: 50px;
    padding-left: 30px;
}

.sqingico_5 img{ 
    width: 876px;
    height: 356px;
    padding-top: 50px;
    padding-left: 30px;
}

.sqingico_6 img{ 
    width: 876px;
    height: 356px;
    padding-top: 50px;
    padding-left: 30px;
}

.sqingico_7 img{ 
    width: 876px;
    height: 356px;
    padding-top: 50px;
    padding-left: 30px;
}


.fl_lonts input[type="radio"] {
    width: 20px;
    height: 20px;
    opacity: 0;
    margin: 0px;
}

.fl_lonts input[type="radio"] + label::before {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: text-bottom;
    content: "";
    background-image: url('../images/radio_1.png');
}

.fl_lonts input[type="radio"]:checked +  label::before {
    background-image: url('../images/radio_2.png');
}

.fl_conterAdd{
    background: #0f172a;
    display: flex;
    padding: 20px 30px;
    font-size: 15px;
}

.fl_add{
    color: #93afd7;
    background: #0e1d32;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
}

.fl_add:hover{
    opacity: .8;
}

.fl_remove{
    color: #495669;
    margin-left: 40px;
    cursor: pointer;
    line-height: 40px;
    letter-spacing: 1px;
}

.fl_remove:hover{
    opacity: .8;
}

.cp_apshez{
    font-size: 14px;
}

.cp_addtubiao{
    color: #93afd7;
    padding: 10px 25px 10px 35px;
    border-radius: 5px;
    background: url(../images/shezhi_1.png) no-repeat #0e1d32 10px 10px;
}

.cp_baocun{
    background: #ffb700;
    padding: 10px 20px;
    border-radius: 5px;
}

.cp_quxiao{
    color: #93afd7;
    padding: 10px 20px;
    border-radius: 5px;
    background: #0e1d32;
}

.message{
    position: fixed;
    color: #93afd7;
    background: #071224;
    width: 300px;
    height: 50px;
    line-height: 50px;
    z-index: 99999;
    left: 50%;
    top: 10%;
    margin-left: -150px;
    border-radius: 5px;
    box-shadow: 1px 1px 15px #071224;
    text-align: center;
    animation:img-gradient 3s;
    -webkit-animation:img-gradient 3s;
}

.cp_zcfocont{
    border-bottom: 1px solid #1c2d49;
    margin-bottom: 20px;
}

.cp_zcsize {
    margin-left: 20px;
}

.cp_zcfopls{
    padding: 0 20px;
    margin-bottom: 10px;
}

.cp_zcfobnxiao{
    width: 33%;
    float: left;
    text-align: center;
    margin-top: 20px;
}

.cp_zcfobnxiao span{
    display: block;
    color: #93afd7;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
}

.cp_zcfobnxiao em{
    display: block;
    color: #4b586b;
    font-size: 12px;
}

.cp_zclistcons{
    padding: 10px 20px;
}

.cp_zclistcons:hover{
    background: #20304a;
}

.cp_zccotit{
    background: url(../images/zc.png) no-repeat 0px 3px;
    padding-left: 25px;
    font-size: 14px;
}

.cp_zccotit a{
    color: #93afd7;
    height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-bottom: 5px;
}

.cp_zclistbom{
    padding-bottom: 15px;
}

.cp_zctitme{
    height:20px;
    line-height: 20px;
    overflow: hidden;
    color: #4b586b;
    font-size: 12px !important;
}

.cp_zctitme span{
    margin-left: 25px;
}

.cp_dyuconpadd{
    padding-top: 10px;
}

.cp_echartleft1{
    width:100%;
    height:200px;
    margin-top: 10px;
}

.cp_echartleft2{
    width:100%;
    height:250px;
    margin-top: 20px;
}

.cp_echartleft3{
    position: absolute;
    width:100%;
    height: 800px;
    top: -70px;
    left: 0px;
}

.cp_dyheight{
    height:220px;
}

.cp_qushiheight{
    height:245px;
}

.cp_ditutitle{
    color:#fff;
    text-align: center;
    font-size: 24px;
    letter-spacing: 5px;
}

.cont-item p{
    margin: 0px;
}

.cont-item li a{
    position: relative;
    display: inline-block;
    border: 2px solid rgba(255, 183, 0, 0.5);
    color: #ffffff;
    padding: 10px;
    font-size: 14px;
    background: rgba(50, 50, 50, 0.5);
    z-index: 23;
}

.tuxian {
    position: absolute;
    width: 15px;
    height: 15px;
}

.tuxian.topleft {
    border-top: 2px solid #feb801;
    border-left: 2px solid #feb801;
    left: -2px;
    top: -2px;
}

.tuxian.topright {
    border-top: 2px solid #feb801;
    border-right: 2px solid #feb801;
    right: -2px;
    top: -2px;
}

.tuxian.bottomright {
    border-bottom: 2px solid #feb801;
    border-right: 2px solid #feb801;
    right: -2px;
    bottom: -2px;
}

.tuxian.bottomleft {
    border-bottom: 2px solid #feb801;
    border-left: 2px solid #feb801;
    left: -2px;
    bottom: -2px;
}

.maplistnull{
    color: #93afd7;
    text-align: center;
    line-height: 600px;
}

.typelistnull{
    color: #93afd7;
    text-align: center;
    line-height: 130px;
}

.diyulistnull{
    color: #93afd7;
    text-align: center;
    line-height: 180px;
    display: none;
}

.qushilistnull{
    color: #93afd7;
    text-align: center;
    line-height: 180px;
    display: none;
}

.cp_huifu{
    position: absolute;
    top: 0px;
    right: 0px;
    background: url(../images/huifu_1.png) no-repeat #0e1d32 10px;
    color: #7f8897;
    width: 70px;
    height: 35px;
    line-height: 35px;
    padding-left: 32px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.cp_huifu:hover{
    background: url(../images/huifu_2.png) no-repeat #0e1d32 10px;
}



@keyframes img-gradient {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
  }


@media screen and (max-width: 1700px) {
    .cp_kbzhi{
        right:40px;
    }
    .cp_kbzhi img{
        width: 80%;
    }        
}

@media screen and (max-width: 1600px) {
    .cp_kbzhi span{
        padding-top: .3rem;
    }
    .cp_kbzhi img{
        width: 70%;
    }        
}

@media screen and (max-width: 1500px) {
    .cp_kbzhi{
        right:30px;
    }
    .cp_kbzhi img{
        width: 60%;
    }    
}

@media screen and (max-width: 1400px) {
    .cp_kbzhi span{
        padding-top: .1rem;
    }
}