.sj_cont1{
    width: 99%;
    margin-right: 1%;
}

.sj_cont2{
    width: 49%;
    margin-right: 1%;
    float: left;
}

.sj_cont3{
    width: 49%;
    margin-right: 1%;
    float: left;
    height: 910px;
}

.sj_cont4{
    width: calc(69% - 1px);
    margin-right: 1%;
    float: left;
    border-right: 1px solid #1c2d49;
}

.sj_cont5{
    width: 29%;
    margin-right: 1%;
    float: left;
}

.sj_cont6{
    width: calc(40% - 20px);
    margin-right: 1%;
    float: left;
}

.sj_cont7{
    width: calc(58% - 20px);;
    margin-right: 1%;
    float: left;
}

.sj_fenxcol{
    color: #93afd7;
    font-size: 14px;
    margin: 20px 20px 30px;
    line-height: 25px;
}

.sj_echart1{
    width:100%;
    height:400px;
    margin-top: 20px;
}

.sj_echart2{
    width:100%;
    height:300px;
    margin-top: 20px;
}

.sj_echart5{
    width:100%;
    height:250px;
    margin-top: 20px;
}

.sj_echart6{
    width:100%;
    height:270px;
    margin-top: 20px;
}

.sj_echart7{
    width:100%;
    height:500px;
    margin-top: 20px;
}

.sj_echart8{
    width:60%;
    height:400px;
    margin-top: 20px;
    float: left;
}

.sj_echart9{
    height:200px;
}

.sj_dxbcont{
    width:40%;
    height:400px;
    margin-top: 20px;
    float: left;
}

.sj_echart10{
    width:100%;
    height:400px;
    margin-top: 20px;
}

.sj_echart11{
    width:100%;
    height:400px;
    margin-top: 20px;
}

.sj_cbqushios{
    height: 220px;
}

.sj_meitifcont{
    position: relative;
    width: 40%;
    float: left;
    padding: 20px;
}

.sj_meitiptaifcont{
    width: 40%;
    float: left;
    margin-left: 10%;
    padding: 20px;
}

.sj_meititype{
    width: 45%;
    float: left;
    margin-right: 5%;
}

.sj_mtisolbn{
    /* position: absolute;
    right: 0px;
    width: 40%; */
    font-size: 14px;
    text-align: center;

}

.sj_mthyued{
    text-align: center;
    font-size: 14px;
}

.sj_conspadd{
    margin: 0 20px;
}

.sj_cbfloe{
    width: calc(60% - 41px);
    float: left;
    border: 1px solid #1c2d49;
    border-right: 0px;
    margin: 30px 0;
}

.sj_cbmsol{
    width: calc(42% - 41px);
    float: left;
    border: 1px solid #1c2d49;
    border-left: 0px;
    margin: 30px 0;
    padding: 0 20px;
    font-size: 14px;
    min-height: 580px;
}

.sj_cbztitcolor{
    height: 40px !important;
    color: #556177 !important;
}

.sj_cbztitcolor li{
    height:39px !important;
    line-height: 30px !important;
}

.sj_cbrigsl{
    border-right: 1px solid #1c2d49;
    padding-bottom: 10px;
    margin: 20px 0;
    height: 530px;
}

.sj_cbzdian{
    color: #a8c9f2;
    padding: 0 20px;
    height: 50px;
    overflow: hidden;
}

.sj_cbzdian li{
    float: left;
    height: 49px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    padding-right: 10px;
    border-bottom: 1px solid #1c2d49;
}

.sj_cbzdian li a{
    color: #a8c9f2;
}

.sj_cbcont1{
    width: calc(50% - 10px);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-align: left !important;
}

.sj_cbcont2{
    width: calc(10% - 10px);
}

.sj_cbcont3{
    width: calc(30% - 10px);
}

.sj_cbcont4{
    width: calc(10% - 10px);
}

.sj_cbtitle:hover{
    background: #20304a;
}

.sj_topxoanq{
    color: #556177;
    line-height: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.sj_tiocpl{
    color: #a8c9f2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.sj_titimes{
    padding: 5px 0 20px;
}

.sj_titimes span{
    display: inline-block;
    color: #556177;
    font-size: 12px;
    padding-right: 30px;
}

.sj_product_tab{
    text-align: center;
    padding-top: 10px;
}

.sj_product_tab .sj_mainCont { 
    display: none; 
    width:100%;
    color: #556177;
} 
.sj_product_tab .sj_mainCont.selected {
     display: block; 
} 

.sj_cblujs{
    position: relative;
}

.sj-record{
    position: absolute;
    top: 0px;
    left: 100px;
}

.sj-record .tab li{
    float: left;
    padding-right: 10px;
    color: #556177;
    cursor: pointer;
}

.sj-record .tab li span{
    border-right: 1px solid #1c2d49;
    padding-left: 10px;
}

.sj-record .tab .active{
    color: #feb801;
}

.sj_mshoufa{
    padding-bottom: 10px;
    margin: 20px 0;
    height: 420px;
}

.sj_mticbzdian{
    padding: 0px !important;
}

.sj_mtcont1{
    width: calc(15% - 10px);
}

.sj_mtcont2{
    width: calc(30% - 10px);
}

.sj_mtcont3{
    width: calc(15% - 10px);
}

.sj_mtcont4{
    width: calc(40% - 10px);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-align: left !important;
}

.sj_product_gjtab{
    padding-left: 100px;
    padding-top: 20px;
    height: 320px;
}

.sj_product_gjtab .sj_gjmainCont { 
    display: none; 
    width:100%;
    color: #556177;
} 
.sj_product_gjtab .sj_gjmainCont.selected {
     display: block; 
} 

.cp_cbnsls{
    position: relative;
}

.sj_cmtsn{
    position: absolute;
    top: 10px;
    left: 160px;
}

.sj-gjrecord .tab li {
    float: left;
    padding-right: 10px;
    color: #556177;
    cursor: pointer;
    font-size: 14px;
}

.sj-gjrecord .tab .active {
    color: #feb801;
}

.sj-gjrecord .tab li span {
    border-right: 1px solid #1c2d49;
    padding-left: 10px;
}

.sj-gjrecord .tab .active {
    color: #feb801;
}

.sj_product_jdtab{
    padding-left: 20px;
    padding-top: 20px;
}

.sj_product_jdtab .sj_jdmainCont { 
    display: none; 
    width:100%;
    color: #556177;
} 
.sj_product_jdtab .sj_jdmainCont.selected {
     display: block; 
} 

.sj-jdrecord .tab li {
    float: left;
    padding-right: 10px;
    color: #556177;
    cursor: pointer;
    font-size: 14px;
}

.sj-jdrecord .tab .active {
    color: #feb801;
}

.sj-jdrecord .tab li span {
    border-right: 1px solid #1c2d49;
    padding-left: 10px;
}

.sj-jdrecord .tab .active {
    color: #feb801;
}

.sj_gjmainCont ul{
    width: 90%;
    margin-bottom: 10px;
    font-size: 14px;
}

.sj_gjmainCont li{
    float: left;
    line-height: 20px;
}

.sj_gjplols{
    color: #a8c9f2;
    width: 100px;
    text-align: right;
}

.sj_temyun{
    width: calc(100% - 120px);
    padding-left: 20px;
}

.sj_temyun span{
    display: inline-block;
    background: #172941;
    height: 15px;
    margin-right: 20px;
    width: 70%;
    border-radius: 50px;
    margin-top: 2px;
}

.sj_temyun span i{
    display: inline-block;
    background: #feb801;
    height: 15px;
    border-radius: 50px;
}

.sj_product_gdtab{
    padding-left: 20px;
    padding-top: 20px;
}

.sj_product_gdtab .sj_gdmainCont { 
    display: none; 
    width:100%;
    color: #556177;
} 
.sj_product_gdtab .sj_gdmainCont.selected {
     display: block; 
} 

.sj-gdrecord .tab li {
    float: left;
    padding-right: 10px;
    color: #556177;
    cursor: pointer;
    font-size: 14px;
}

.sj-gdrecord{
    padding: 20px;
}

.sj-gdrecord .tab .active {
    color: #feb801;
}

.sj-gdrecord .tab li span {
    border-right: 1px solid #1c2d49;
    padding-left: 10px;
}

.sj_gdconter{
    width: calc(48% - 42px);
    float: left;
    font-size: 14px;
    background: #1e324d;
    margin-right: 2%;
    padding: 20px;
    border: 1px solid #1e324d;
    margin-bottom: 20px;
    height:90px
}

.sj_gdconter:hover{
    border: 1px solid #feb801;
}

.sj_gdcontitle{
    color: #feb801;
    padding-bottom: 10px;
}

.sj_gdnei{
    color: #a8c9f2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 25px;
}

.sj_gdnei a{
    color: #a8c9f2;
}

.sj_gdredu{
    color: #a8c9f2;
    float: right;
    padding-top: 5px;
    background: url(../images/guandian_redu.png) no-repeat 0px 7px;
    padding-left: 18px;
}

.sj_wmyi{
    color: #feb801;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.sj_wmcontpsl{
    font-size: 14px;
    background: #071224;
    border: 1px solid #071224;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.sj_wmcontpsl:hover{
    border: 1px solid #feb801;
}

.sj_wmconbomst{
    margin-bottom: 0px !important;
}

.sj_wmicosonts{
    position: relative;
}

.sj_wmicos{
    position: absolute;
    left: 0px;
}

.sj_wmtit{
    color: #a8c9f2;
    padding-left: 50px;
}

.sj_wmtimes{
    color: #556177;
    font-size: 12px;
    padding: 5px 0 5px 50px;
}

.sj_wmtimes a{
    color: #1b468a;
    text-decoration: underline;
    padding-left: 30px;
}

.sj_wmtimes span{
    padding-right: 30px;
}


.sj_wbfxtimes{
    color: #556177;
    font-size: 12px;
    padding: 5px 0;
}

.sj_wbfxtimes span{
    padding-right: 30px;
}

.sj_wmneirong{
    color: #a8c9f2;
    line-height: 25px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.sj_wbocontls{
    padding: 20px;
}

.sj_wboslm{
    width: 40%;
    float: left;
}

.sj_wboeache{
    width: 55%;
    float: left;
    margin-left: 5%;
}

.sj_wbofix{
    display: flex;
}

.cp_wbofont{
    width: 40% !important;
    padding: 0 5% !important;
}

.cp_wbowenzi{
    margin-left: -75px;
}

.sj_gpcbom{
    margin-bottom: 20px;
}

.sj_gpctitbg{
    background: #273447;
    color: #556177 !important;
}

.sj_gpcont1{
    width: calc(10% - 10px);
}

.sj_gpcont2{
    width: calc(20% - 10px);
}

.sj_gpcont3{
    width: calc(15% - 10px);
}

.sj_gpcont4{
    width: calc(55% - 10px);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-align: left !important;
}

.sj_cbtucomt {
    padding-left: 20px;
    padding-top: 20px;
}

.sj_cbtucomt img{
    width: 100%;
}

.sj_bzremen{
    width: 45%;
    float: left;
    height:300px;
    margin-bottom: 50px;
}

.sj_bzrechpd{
    margin-left: 10%;
}

.sj_bztabtest{
    color: #a8c9f2;
    font-size: 14px;
    border-top: 1px solid #1c2d49;
    line-height: 40px;
    text-align: center;
}

.sj_bztabtest li{
    float: left;
    width: 29.3%;
    padding: 0 2%;
    overflow: hidden;
}

.sj_bztabtit{
    background: #273447;
    color: #556177 !important;
    margin-top: 30px;
}

.sj_bztiscbtitle:hover {
    background: #20304a;
}

.sj_bztiscbtitle li:first-child{
    width: calc(29.3% - 35px);
    text-align: left;
    background: url(../images/weibo_tit.png) no-repeat 10px;
    padding-left: 35px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.sj_bzmaps{
    width: 70%;
    float: left;
}

.sj_bzmapsneim{
    width: 30%;
    float: left;
}


.sj_bzmaptest{
    color: #a8c9f2;
    font-size: 14px;
    border-top: 1px solid #1c2d49;
    line-height: 40px;
    text-align: center;
}

.sj_bzmaptest li{
    float: left;
    width: 46%;
    padding: 0 2%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.sj_mganxix{
    background: #1e324d;
    font-size: 14px;
    padding: 10px 15px 20px;
    margin-top: 30px;
    margin-right: 20px;
}

.sj_mgtit{
    color: #ff3f68;
}

.sj_mgtitconts{
    color: #93afd7;
    line-height: 25px;
    height: 25px;
    overflow: hidden;
    display: flex;
    margin-top: 10px;
}

.sj_mgtitconts div{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    width: 85%;
}

.sj_mgtitconts a{
    color: #1b468a;
    text-decoration: underline;
    text-align: right;
    display: block;
    width: 15%;
}